<a href="https://colab.research.google.com/github/NarendarB0152/VignanUniversityWorkShop/blob/main/Pandas/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
lst=[1,2,3,4,5]
pd.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
import numpy as np
arr=np.array([1,2,3,4,5])