<a href="https://colab.research.google.com/github/NarendarB0152/VignanUniversityWorkShop/blob/main/Pandas/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
lst=[1,2,3,4,5]
pd.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
import numpy as np
arr=np.array([1,2,3,4,5])
pd.Series(arr)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
scores=pd.Series(index=['Eshant','Pranjal','Rohit','Ashish'],data=[10,20,30,50])
scores

Eshant     10
Pranjal    20
Rohit      30
Ashish     50
dtype: int64

In [6]:
steps={'day1':4000,'day2':3000,'day3':4000}
pd.Series(steps)

day1    4000
day2    3000
day3    4000
dtype: int64

In [8]:
pd.Series(5).repeat(3)

0    5
0    5
0    5
dtype: int64

In [11]:
pd.Series(5).repeat(3).reset_index(drop=True)

0    5
1    5
2    5
dtype: int64

In [16]:
s=pd.Series([10,20]).repeat([5,2]).reset_index(drop=True)
s

0    10
1    10
2    10
3    10
4    10
5    20
6    20
dtype: int64

In [18]:
print(s[5])

20

In [21]:
print(s[-2])

KeyError: -2

In [23]:
s[2:-2]

2    10
3    10
4    10
dtype: int64

In [29]:
sr=pd.Series([1,1,-2,3,-4,5,-6,7])
sr.agg([min,max,sum])

/tmp/ipython-input-2238178477.py:2: FutureWarning: The provided callable <built-in function min> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  sr.agg([min,max,sum])
/tmp/ipython-input-2238178477.py:2: FutureWarning: The provided callable <built-in function max> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  sr.agg([min,max,sum])
/tmp/ipython-input-2238178477.py:2: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  sr.agg([min,max,sum])

min   -6
max    7
sum    5
dtype: int64

In [31]:
sr.abs()

0    1
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int64

In [37]:
sr1 = pd.Series([1,-2,3])
sr2 = pd.Series([1,2,3])
sr3 = pd.concat([sr1, sr2])

sr3.reset_index(drop=True)

0    1
1   -2
2    3
3    1
4    2
5    3
dtype: int64

In [40]:
sr3.astype('float')

0    1.0
1   -2.0
2    3.0
0    1.0
1    2.0
2    3.0
dtype: float64

In [41]:
sr1 = pd.Series([1,2,30,4,5,6,7,8,9,20])
sr1

0     1
1     2
2    30
3     4
4     5
5     6
6     7
7     8
8     9
9    20
dtype: int64

In [42]:
sr1.between(10,50)

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9     True
dtype: bool

In [43]:
ser = pd.Series(["Eshant Das" , "Data Science" , "Geeks for Geeks" , 'Hello World' , 'Machine Learning'])

In [44]:
ser

0          Eshant Das
1        Data Science
2     Geeks for Geeks
3         Hello World
4    Machine Learning
dtype: object

In [45]:
print(ser.str.upper())

0          ESHANT DAS
1        DATA SCIENCE
2     GEEKS FOR GEEKS
3         HELLO WORLD
4    MACHINE LEARNING
dtype: object

In [46]:
for i in ser:
  print(len(i))

10
12
15
11
16

In [47]:
ser = pd.Series(["Eshant Das" , "Data Science" , "Geeks for Geeks" , 'Hello World' , 'Machine Learning  '])

for i in ser:
    print(i , len(i))

Eshant Das 10
Data Science 12
Geeks for Geeks 15
Hello World 11
Machine Learning   18

In [48]:
ser.str.split()[0]

['Eshant', 'Das']

In [53]:
lst=[['tom',10],['nick',15],['juli',14]]
pd.DataFrame(lst)

      0   1
0   tom  10
1  nick  15
2  juli  14

In [55]:
lst=[['tom',10],['nick',15],['juli',14]]
pd.DataFrame(lst,columns=['Name','Age'])

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [56]:
data={'name':['Tom','nick','krish','jack'],'age':[20,21,19,22]}
pd.DataFrame(data)

    name  age
0    Tom   20
1   nick   21
2  krish   19
3   jack   22